body{
    background-color: #48cae4;
    color: #444;
}
.con{
    width:90%;
    max-width: 960px;
    margin:80px auto 10px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28,6,49,0.1);
    background: white;
}
.con-2{
    width:90%;
    max-width: 960px;
    margin:30px auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(28,6,49,0.1);
    background: white;
}
.error{
    color: #ff3f80;
    font-size: 14px;
}
button{
    text-decoration: none;
    background: #48cae4;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 30px;
    padding: 10px;
}